<h2> MUSEUMS </h2>
<% @museums.each do |museum| %>
  <section class="museum-<%= museum.id %>">
    <h1><%= museum.name %></h1>

    <h3>Paintings</h3>
    <% museum.paintings.each do |painting| %>
      <p><img src=<%= painting.image %>></p>
      <p>* <%= painting.name %></p>
      <p>* <%= painting.description %></p>
      <p>* <%= painting.medium %></p>
      <p>* <%= painting.color_palette %></p>
      <br>
    <% end %>
  </section>
<% end %>
